body{
    font-family: 'Handjet', cursive;
    font-size: 30px;
}

.lista{
    color:rgb(255, 0, 0)
}

#frutas{
    color:rgb(0, 47, 255)
}

h1,h2{
    text-align: center;
    margin: 0;
}

h3{
    color:aqua
}

table{
    border: 4px dashed purple;
    margin: 20px;
}

th, td{
    border: 4px dashed black;
}